@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;1,100;1,700&display=swap');
*{
	margin: 0;
	padding: 0;
	list-style-type: none;
}
#home{
	background-image: url("../images/coding.jpg");
}

.containerimage2{
	display: flex;
	flex-direction: row;
	height: 70px;
	padding: 10px 0;
}

.containerimage2-text{
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.container-about-us{
	display: flex;
	justify-content: space-between;
	align-items: center;
}


.nav_bar_1 ul {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	background-color: #43a6d4;
	list-style-type: none;
}
.nav_bar_1 ul li{
	padding: 10px;
	background-color: #43a6d4;
}
.nav_bar_1 a {
	text-decoration: none;
	color: white;
	font-family: 'Roboto', sans-serif;
	font-weight: 100;
	font-size: 20px;
}

.titles{
	color: white;
	font-family: 'Roboto', sans-serif;
	padding: 10px;
	margin: 10px;
	font-size: 40px;
}

.subtitle{
	color: white;
	font-family: 'Roboto', sans-serif;
	padding: 10px;
	margin: 10px;
	font-size: 30px;
}

.sections_text{
	color: white;
	font-family: "Roboto Thin", sans-serif;
	padding: 15px;
	margin: 15px;
	font-size: 20px;
}

.return_button{
	text-decoration: underline;
	color: white;
	font-family: "Roboto Thin", sans-serif;
	padding: 10px;
	margin: 10px;
	font-size: 10px;
}

.link{
	text-decoration: underline;
	font-family: Roboto, sans-serif;
	color: white;
	padding: 10px;
	margin: 10px;
	font-size: 25px;
}

.message_box{
	width:45%;
	height:150px;
	margin:auto;
	position:relative;
}

.send_button{
	width:10%;
	height:40px;
	margin:auto;
	position:relative;
}

#footer{
	display: block;
	color: white;
	text-align: center;
	padding: 16px;
		float: left;
}

#footer ul{
	list-style-type: none;
}

#footer li{
	float: right;
	padding: 16px;
	text-decoration: none;
}

body{
	background-color: rgb(70, 130, 180);
}

.container-persons{
	display: flex;
	flex-wrap: wrap;
}
.container-persons .card-person{
	width: 200px;
	padding: 10px;
	margin: 10px;
	height: 400px;
	background-color: lightskyblue;
	border-radius: 10px;
	box-shadow: 0px 5px 3px 0px #0000005e;
	color: white;
	font-family: "Roboto Thin", sans-serif;
	padding: 15px;
	margin: 15px;
	font-size: 20px;

}
.container-persons .card-person img{
	width: 80%;
}
